#body{
    background-color:rgb(208, 224, 224);
}

.comp_banner{
    position:relative;
    margin-bottom:0%;
    background-color:white;
    width:800px;
}

.main_menu{
    text-align:center;
    align-content: center;
    background-color:#fff;
    display:inline-block;
    width:800px;
    border-bottom: 5px solid rgb(1, 102, 23);
}

.footer1{
    display:block;
    background-color:#fff;
    text-align:center;
    width:800px;
}

.img{
    height:200px;
    width:200px;
    padding:30px;
}

.form{
    margin-left:20px;
}

.label{
    padding-right:150px;
}

.label_jam{
    padding-right:165px;
}

.label_doc{
    padding-right:120px;
}

.label_user{
    padding-right:110px;
}

.opt_spacing{
    padding-right:40px;
}

.opt_spacing_doc{
    padding-right:220px;
    padding-top:2px;
    padding-bottom:2px;
}

.opt_spacing_user{
    padding-right:120px;
    padding-top:2px;
    padding-bottom:2px;
}

.form_spacing{
    padding-top:25px;
    padding-bottom:10px;
}

.form_spacing_letter_no{
    width:570px;
    padding-top:20px;
    margin-right:1px;
    margin-left:-5px;
    padding-left:1px;
    padding-bottom:20px;
}

.letter_no_spacing{
    padding-right:110px;
    margin-left:30px;
}

.text_width{
    padding-top:10px;
    padding-bottom:10px;
    margin-left:120px;
}

.div_button{
    padding-bottom:10px;
}

.button_link{
    padding-right:360px;
    color:white;
}

.button_style{
    border-radius:5px;
    background-color:slategray;
    color:white;
    font-family:"Nanum Gothic";
    font-weight:300px;
    font-size:16pt;
    cursor:pointer;
    padding-right:10px;
    padding-left:10px;
    padding-top:5px;
    padding-bottom:5px;
}

.arrow_style{
    font-weight: bold;
}